@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    background-color: black;
    color: white;
    font-family: "BlinkMacSystemLight";
}

::-webkit-scrollbar{
    display: none;
}
@font-face {
    font-family: "BlinkMacSystemLight";
    src: url('../src/assets/fonts/blinkmacsystemfont-light.ttf');
}